<title>{{blogDetailsObject.blogHeading}}</title>
<div class="container">
    <div class="row">
        <div class="col-md-12">
        <figure>
            <div [ngStyle]="{'background-image': getMainImageUrl()}" class="blogmainimage">
            </div>
        </figure>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="container pd">
                <div class="row blogdetails">
                    <div class="col-md-12">
                        <h2 class="blogmainheading">
                            {{blogDetailsObject.blogHeading}}
                            <br>
                        </h2>
                        <span class="blogauthor">
                            {{blogDetailsObject.blogAuthor}} ,
                             {{blogDetailsObject.blogDateTimeStamp | date : "d MMMM y"}}
                        </span>
                    </div>
                    <br>

                    <div class="horizontalline"></div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div [innerHTML]="blogDetailsObject.blogBody" class="blogbody">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>