.customcard{
    margin-top: 20px;
    margin-bottom: 20px;
    transition: box-shadow 0.5s;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
}

.customcard:hover{
    cursor: pointer;
    box-shadow: 0 0 5px 0px rgba(0,0,0,0.6);
    
}

.pd-rt-lt-0{
    padding-right: 0px;
    padding-left: 0px;
}

.cardimage{
    height: 400px;
    width:100%;
}

.cardbody{
    background-color: white;
}
.cardbody .container{
    padding: 40px 50px;
}
.cardauthor{
    position: absolute;
    bottom: 5%;
}