<div class="row">
    <div class="card">
        <div class="col-md-8 col-sm-12 ">
            <div class="card-image">
                <img src={{blogObject.blogMainImageUrl}} class="card-image-top">
            </div>
        </div>
        <div class=" col-sm-12 col-md-4">
            <div class="card-heading">
        
                <div>
                    <div class="card-brief-info">
        
                    </div>
                    <div class="aurthor">
        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>