<div class="container">
    <div class="row customcard">
        <div class="col-md-7 pd-rt-lt-0">
            <div [ngStyle]="{'background-image': getMainImageUrl()}" class="cardimage">
            </div>
        </div>
        <div class="col-md-5 cardbody pd-rt-lt-0">
            <div class="container">
                <h3 class="cardheading">
                    {{blogObject.blogHeading}}
                </h3>
                <br>
                <p class="cardparagraph">
                    {{blogObject.blogBrief}}
                </p>
                <br>
                
            </div>
            
            <h5 class="cardauthor">
                {{blogObject.blogAuthor}}
                <br>
                {{blogObject.blogDateTimeStamp | date : "d MMMM y"}}
            </h5>

        </div>
    </div>
</div>