.customcard{
    margin-top: 20px;
    margin-bottom: 20px;
    transition: box-shadow 0.4s;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
}

.customcard:hover{
    cursor: pointer;
    box-shadow: 0 0 5px 0px rgba(0,0,0,0.6);
    
}

.pd-rt-lt-0{
    padding-right: 0px;
    padding-left: 0px;
}

.cardimage{
    min-height: 400px;
    height: 100%;
    width:100%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
}

.cardbody{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    position: relative
}
.cardbody .container{
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 60px;
}
.cardheading{
    
    font-family: 'Fascinate Inline', sans-serif;
}
.cardparagraph{
    font-family: 'Montserrat', sans-serif;
}
.cardauthor{
    position: absolute;
    bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Nunito', sans-serif;
}