<div class="container">
    <div class="row customcard">
        <div class="col-md-7 pd-rt-lt-0">
            <img src="{{blogObject.blogMainImageUrl}}" class="cardimage">
        </div>
        <div class="col-md-5 cardbody pd-rt-lt-0">
            <div class="container">
                <h1>
                    {{blogObject.blogHeading}}
                </h1>
                <br>
                <p>
                    {{blogObject.blogBrief}}
                </p>
                <h4 class="cardauthor">
                    {{blogObject.blogAuthor}}
                    {{blogObject.blogDateTimeStamp | date : "dd/MM/yyyy"}}
                </h4>
            </div>
            
        </div>
    </div>
</div>