<link href="https://fonts.googleapis.com/css?family=Oswald:700&display=swap" rel="stylesheet">
<div class="h-100">
    <div class="hero-image">
        <div class="hero-text">
            <p>
                From Tutorials to experiences,<br>
                I share for you to read.
            </p>
        </div>
    </div>
        <div class="container pd-bt-5">
            <div *ngFor="let blogObject of blogList | paginate: {itemsPerPage: 2, currentPage: pageNumber} ">
                <app-big-card [blogObject]="blogObject">
                </app-big-card>
            </div>
            <pagination-controls (pageChange)="pageNumber = $event" class="centre">
            </pagination-controls>
        </div>
</div>