<link href="https://fonts.googleapis.com/css?family=Oswald:700&display=swap" rel="stylesheet">
<div class="h-100">
    <div class="hero-image">
        <div class="hero-text">
            <p>
                From Tutorials to experiences,<br>
                I share for you to read.
            </p>
        </div>
    </div>
    <div class="blog-list">
        <div class="container">
            <div *ngFor="let blogObject of blogList ">
                <app-big-card [blogObject]="blogObject">
                </app-big-card>
            </div>
        </div>
        <div class="pagination">
            <pagination-controls (pageChange)="pageNumber = $event">
            </pagination-controls>
        </div>
    </div>
</div>