<title>BLOG</title>
<div class="h-100">
    <div class="hero-image">
        <div class="hero-text">
            <p style="font-family">
                Down You go
            </p>
        </div>
    </div>
        <div class="container pd-bt-5">
            <div *ngFor="let blogObject of blogList | paginate: {itemsPerPage: 10, currentPage: pageNumber} ">
                <app-big-card [blogObject]="blogObject" (click)="openBlog(blogObject.blogId)">
                </app-big-card>
            </div>
            <pagination-controls (pageChange)="pageChangeEvent($event)" class="centre">
            </pagination-controls>
        </div>
</div>