<title>Add Blog</title>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form #addingblogform="ngForm" (ngSubmit)="addingblogform.valid && onSubmit()" class="addblogform">

                <div class="form-group">
                    <label class="form-label" for="heading">Enter the blog Heading</label>
                    <input type="text" name="blogHeading" [(ngModel)]="blogHeading" id="heading"
                     class="form-control" placeholder="Enter within 150 charcters" maxlength="150"
                     #heading="ngModel"
                     required
                    >
                    <div *ngIf="addingblogform.submitted && heading.invalid" class="text-danger">
                        Improper Heading
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-label" for="brief">Enter the blog Brief</label>
                    <input type="text" name="blogBrief" [(ngModel)]="blogBrief" id="brief" class="form-control"
                    placeholder="Enter within 250 charcters" maxlength="250"
                    #brief="ngModel"
                    required
                    >
                    <div *ngIf="addingblogform.submitted && brief.invalid" class="text-danger">
                        Improper Brief
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-label" for="author">Enter the blog Author</label>
                    <input type="text" name="blogAuthor" [(ngModel)]="blogAuthor" id="author" class="form-control"
                    placeholder="Enter within 50 charcters" maxlength="50"
                    #author="ngModel"
                    required
                    >
                    <div *ngIf="addingblogform.submitted && author.invalid" class="text-danger">
                        Improper Author
                    </div>
                </div>
               
                <div class="form-group">
                    <label class="form-label" for="mainImageUrl">Upload Blog Main Image</label>
                    <br>
                    <div *ngIf="!blogMainImageUrl">
                        <button type="button" class="btn btn-primary btn-large" (click)="uploadMainImageFunc()">
                            Upload Main Image
                        </button>
                    </div>
                    <div *ngIf="blogMainImageUrl" class="text-primary">
                        <a href={{blogMainImageUrl}} target="_blank">{{blogMainImageUrl}}</a>
                    </div>
                    <div *ngIf="addingblogform.submitted && !blogMainImageUrl" class="text-danger">
                        Improper Image Link
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-label" for="editorValue">Write the blog</label>
                    <quill-editor 
                        name="editorValue" 
                        id="editorValue" 
                        (onEditorCreated)="getEditorReference($event)"
                        [(ngModel)]="blogBody">
                    </quill-editor>
                </div>
                <input class="formsubmitbutton" type="submit" class="btn btn-primary">
                <br>
            </form>
        </div>
    </div>
</div>

<!-- The Modal -->
<div class="modal" id="imageUploadModal" #imageUploadModal [style.display]="showModal ? 'block' : 'none'">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Upload an Image</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div *ngIf="!uploadProgressPercentage">
                    <input type="file" name="image" accept=".jpg, .png, .jpeg" 
                    (change)="uploadImage($event)"
                    #uploadImageInputTag>
                </div>
                <div *ngIf="uploadProgressPercentage">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                            [style.width]="(uploadProgressPercentage | async) + '%'" 
                            [attr.aria-valuenow]="(uploadProgressPercentage | async)" aria-valuemin="0"
                            aria-valuemax="100"></div>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="closeImageUploadModal()">Close</button>
            </div>

        </div>
    </div>
</div>