<div class="content">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
  
      </ul>
      <div *ngIf="isNewUser">
        <button class="btn btn-outline-primary my-2 my-sm-0" style="margin-right: 5px;" (click)="login()">Login</button>
        <button class="btn btn-outline-primary my-2 my-sm-0" (click)="register()">Register</button>
      </div>
      <div *ngIf="!isNewUser">
        <button class="btn btn-outline-primary my-2 my-sm-0" (click)="logout()">Logout</button>
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>
</div>

<footer id="footer" class="footer">
  <div class="container text-center" style="padding-top: 18px;">
    <p class="text-white"></p>
  </div>
</footer>